<div class="current-rides">
    <header><h1>Current Rides</h1></header>
      </div>
    <br>
    <br>
    <div class="wrapper-confirmed">
    <div id="Confirmed-Rides">
      <h2>Confirmed</h2>
    </div>
    </div>
    <div class="wrapper-requested">
    <div id="Requested-Rides">
      <h2>Requested</h2>
    </div>
      </div>
    <div class="wrapper-possible">
    <div id="Possible-Drivers">
         <h2>Possible Drivers</h2>
    </div>
      </div>
