<div class="wrapper-content">
    <header><h1>Feedback</h1></header>
    <hr>
    <div id="feedback">
        <label for="feedback-box"></label>
        <input type="text" id="feedback-box" placeholder="Enter your feedback here..."/>
      <button id="submit-feedback">Submit</button>
    </div>
  </div>
