<div class="wrapper-content">
      <div class="content">
        <h1>Welcome {{  userEmail  }}!</h1>
        <p id="home-paragraph">
          DHS Carpooling is a website where students can request rides to school events like football games, school dances, and more. A student can either sign up as a rider or driver. A rider can send a request and then a driver can accept the request. Then after, the rider must accept the driver as well. This service is free for students. If a driver successfully gives a student a ride, the driver will recieve 1 million summative extra credit points the their class of choice. 
        </p>
      </div>
    </div>